<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>

    <style>
        p {
            display: inline-block;
        }
    </style>
</head>
<body>
    <p th:text="${user.getId()}">id</p>
    <p th:text="${user.getName()}">Имя</p>
    <br/>
    <a th:href="@{/users/{id}/edit(id=${user.getId()})}">Изменить!</a>
    <br/>
    <hr/>
    <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
        <input type="submit" value="Удалить!" />
    </form>
</body>
</html>